
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.artistas-wmx {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #080808;
  width: 100%;
  overflow: hidden;

  .auto-group-6ekw-V2n {
    height: 16rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .rectangle-7-q6e {
      background-color: rgba(76, 103, 247, 0.5);
      border-radius: 0 0 4.17rem 4.215rem;
      width: 36rem;
      height: 7.1rem;
      position: absolute;
      left: 0;
      top: 7.7rem;
    }
    .vector-4-wvN {
      vertical-align: top;
      width: 14.3607rem;
      height: 11.75rem;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
    }
    .titulo-VS6 {
      left: 1.8375rem;
      text-align: center;
      color: #ffffff;
      font-family: Roboto Serif, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      height: 2.9rem;
      top: 1.8rem;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.1725;
      width: 6.7rem;
    }
    .hd-oBt {
      left: 1.8375rem;
      color: #37b5bd;
      align-items: baseline;
      width: 6.7rem;
      height: 4.7rem;
      text-align: center;
      line-height: 1.1710000038;
      font-size: 4rem;
      font-weight: 600;
      font-family: Roboto Serif, 'Source Sans Pro';
      display: flex;
      position: absolute;
      top: 0;
      white-space: nowrap;

      .hd-oBt-sub-0 {
        color: #37b5bd;
        font-family: Roboto Serif, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.1725;
      }
      .hd-oBt-sub-1 {
        font-family: Roboto Serif, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.1725;
        color: #37b5bd;
      }
    }
    .titulo-Vyp {
      font-family: Roboto Serif, 'Source Sans Pro';
      white-space: nowrap;
      width: 12.5rem;
      left: 12.1rem;
      top: 9.6rem;
      font-size: 3rem;
      color: #080808;
      height: 3.6rem;
      position: absolute;
      font-weight: 600;
      line-height: 1.1725;
    }
    .hombre-moderno-auriculares-entorno-urbano-6-D98 {
      vertical-align: top;
      left: 29rem;
      top: 0.6rem;
      object-fit: cover;
      position: absolute;
      border-radius: 13rem;
      width: 6.5209rem;
      height: 6.4423rem;
      cursor: pointer;
    }
  }
  .auto-group-b1b4-VcS {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.7rem 2.5rem 0rem 2.5rem;
    width: 100%;
    display: flex;

    .auto-group-gwgv-cBG {
      height: 3.5rem;
      flex-shrink: 0;
      margin-bottom: 2.9rem;
      width: 18.2rem;

      .auto-group-c2m4-Yqc {
        width: 7.3rem;
        height: 100%;
        position: relative;

        .titulo-JZt {
          position: absolute;
          font-size: 2rem;
          color: #ffffff;
          display: flex;
          justify-content: center;
          height: 2.4rem;
          left: 0;
          top: 0;
          width: 7.3rem;
          font-weight: 600;
          line-height: 1.1725;
          cursor: pointer;
          font-family: Roboto Serif, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
        }
        .subtitulos-oWe {
          cursor: pointer;
          left: 0;
          color: #ffffff;
          font-family: Merriweather, 'Source Sans Pro';
          height: 1.6rem;
          top: 1.9rem;
          align-items: center;
          position: absolute;
          font-style: italic;
          white-space: nowrap;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2575;
          display: flex;
          justify-content: center;
          width: 4.8rem;
        }
      }
    }
    .auto-group-3wd8-tY6 {
      margin-bottom: 3.8rem;
      width: 18.2rem;
      height: 3.5rem;
      flex-shrink: 0;

      .auto-group-jswn-S3p {
        width: 7.3rem;
        height: 100%;
        position: relative;

        .titulo-zLE {
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          font-weight: 600;
          display: flex;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto Serif, 'Source Sans Pro';
          white-space: nowrap;
          width: 7.3rem;
          height: 2.4rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
        }
        .subtitulos-VGz {
          color: #ffffff;
          font-family: Merriweather, 'Source Sans Pro';
          justify-content: center;
          cursor: pointer;
          left: 0;
          font-size: 1.2rem;
          white-space: nowrap;
          display: flex;
          width: 4.8rem;
          position: absolute;
          top: 1.9rem;
          font-weight: 400;
          font-style: italic;
          height: 1.6rem;
          line-height: 1.2575;
          align-items: center;
        }
      }
    }
    .auto-group-3pee-BvW {
      margin-bottom: 3.8rem;
      width: 18.2rem;
      height: 3.5rem;
      flex-shrink: 0;

      .auto-group-g7vv-vdC {
        height: 100%;
        position: relative;
        width: 7.3rem;

        .titulo-t4E {
          left: 0;
          font-size: 2rem;
          display: flex;
          align-items: center;
          width: 7.3rem;
          white-space: nowrap;
          color: #ffffff;
          font-family: Roboto Serif, 'Source Sans Pro';
          justify-content: center;
          position: absolute;
          top: 0;
          font-weight: 600;
          line-height: 1.1725;
          height: 2.4rem;
          cursor: pointer;
        }
        .subtitulos-z7G {
          top: 1.9rem;
          font-weight: 400;
          line-height: 1.2575;
          white-space: nowrap;
          width: 4.8rem;
          cursor: pointer;
          font-style: italic;
          display: flex;
          justify-content: center;
          left: 0;
          font-family: Merriweather, 'Source Sans Pro';
          align-items: center;
          height: 1.6rem;
          position: absolute;
          font-size: 1.2rem;
          color: #ffffff;
        }
      }
    }
    .auto-group-ppas-V42 {
      height: 3.5rem;
      flex-shrink: 0;
      margin-bottom: 2.9rem;
      width: 18.2rem;

      .auto-group-va8w-RiN {
        width: 7.3rem;
        height: 100%;
        position: relative;

        .titulo-abG {
          align-items: center;
          height: 2.4rem;
          left: 0;
          display: flex;
          font-family: Roboto Serif, 'Source Sans Pro';
          top: 0;
          font-weight: 600;
          color: #ffffff;
          width: 7.3rem;
          white-space: nowrap;
          justify-content: center;
          line-height: 1.1725;
          cursor: pointer;
          position: absolute;
          font-size: 2rem;
        }
        .subtitulos-hQz {
          height: 1.6rem;
          left: 0;
          top: 1.9rem;
          line-height: 1.2575;
          font-style: italic;
          width: 4.8rem;
          color: #ffffff;
          display: flex;
          justify-content: center;
          cursor: pointer;
          font-size: 1.2rem;
          white-space: nowrap;
          position: absolute;
          font-family: Merriweather, 'Source Sans Pro';
          align-items: center;
          font-weight: 400;
        }
      }
    }
    .auto-group-qrx8-Kan {
      margin-bottom: 3.6rem;
      width: 18.2rem;
      height: 3.5rem;
      flex-shrink: 0;

      .auto-group-pzdl-Exe {
        width: 7.3rem;
        height: 100%;
        position: relative;

        .titulo-nzA {
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto Serif, 'Source Sans Pro';
          top: 0;
          font-weight: 600;
          align-items: center;
          font-size: 2rem;
          display: flex;
          white-space: nowrap;
          justify-content: center;
          height: 2.4rem;
          position: absolute;
          left: 0;
          width: 7.3rem;
          cursor: pointer;
        }
        .subtitulos-Vta {
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          position: absolute;
          left: 0;
          font-size: 1.2rem;
          line-height: 1.2575;
          width: 4.8rem;
          top: 1.9rem;
          font-weight: 400;
          height: 1.6rem;
          cursor: pointer;
          font-style: italic;
          font-family: Merriweather, 'Source Sans Pro';
          display: flex;
          justify-content: center;
        }
      }
    }
    .auto-group-tjtv-C2J {
      height: 3.5rem;
      flex-shrink: 0;
      margin-bottom: 2.3rem;
      width: 18.2rem;

      .auto-group-yfpa-8ge {
        width: 7.3rem;
        height: 100%;
        position: relative;

        .titulo-giA {
          white-space: nowrap;
          width: 7.3rem;
          left: 0;
          top: 0;
          font-size: 2rem;
          font-weight: 600;
          height: 2.4rem;
          display: flex;
          justify-content: center;
          color: #ffffff;
          font-family: Roboto Serif, 'Source Sans Pro';
          cursor: pointer;
          position: absolute;
          line-height: 1.1725;
          align-items: center;
        }
        .subtitulos-bKL {
          justify-content: center;
          top: 1.9rem;
          color: #ffffff;
          width: 4.8rem;
          font-weight: 400;
          font-style: italic;
          white-space: nowrap;
          display: flex;
          align-items: center;
          cursor: pointer;
          line-height: 1.2575;
          left: 0;
          font-size: 1.2rem;
          font-family: Merriweather, 'Source Sans Pro';
          height: 1.6rem;
          position: absolute;
        }
      }
    }
    .auto-group-fbc2-tpE {
      width: 18.2rem;
      height: 3.5rem;
      flex-shrink: 0;

      .auto-group-m7bu-rFG {
        width: 7.3rem;
        height: 100%;
        position: relative;

        .titulo-18A {
          height: 2.4rem;
          left: 0;
          top: 0;
          font-weight: 600;
          line-height: 1.1725;
          display: flex;
          width: 7.3rem;
          position: absolute;
          white-space: nowrap;
          justify-content: center;
          cursor: pointer;
          color: #ffffff;
          font-family: Roboto Serif, 'Source Sans Pro';
          align-items: center;
          font-size: 2rem;
        }
        .subtitulos-iYN {
          white-space: nowrap;
          position: absolute;
          font-size: 1.2rem;
          line-height: 1.2575;
          display: flex;
          font-weight: 400;
          font-style: italic;
          font-family: Merriweather, 'Source Sans Pro';
          justify-content: center;
          width: 4.8rem;
          height: 1.6rem;
          color: #ffffff;
          align-items: center;
          cursor: pointer;
          left: 0;
          top: 1.9rem;
        }
      }
    }
  }
}
