
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 10.9rem;
}.component-4-QpW {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  .negro-NFY {
    flex-shrink: 0;
    width: 100%;
    height: 10.1rem;
    background-color: #080808;
  }
  .blanco-8Vc {
    width: 100%;
    height: 10.1rem;
    background-color: #fffcfc;
    flex-shrink: 0;
  }
  .gris-6SS {
    width: 100%;
    height: 10.1rem;
    background-color: #939393;
    flex-shrink: 0;
  }
}
