
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.loggin-D8i {
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-image: url('REPLACE_IMAGE:c299c4045a27266df5e6af16f1af8a2f747f7f15');
  background: linear-gradient(180deg, #0e1f78 -0%, rgba(119, 38, 157, 0.9700000286) 100%);
  box-sizing: border-box;
  width: 100%;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 5.7rem 5.95rem 13.1rem 6.35rem;
  overflow: hidden;
  display: flex;

  .auto-group-myln-KhY {
    margin: 0rem 3.113rem 14.5rem 2.888rem;
    width: calc(100% - 6rem);
    height: 11.8rem;
    position: relative;
    flex-shrink: 0;

    .titulo-3Ne {
      left: 0;
      top: 4rem;
      color: #ffffff;
      white-space: nowrap;
      width: 17.7rem;
      height: 7.6rem;
      font-size: 6.4rem;
      font-weight: 600;
      line-height: 1.1725;
      font-family: Roboto Serif, 'Source Sans Pro';
      position: absolute;
      text-align: center;
    }
    .hd-9Rg {
      position: absolute;
      left: 0.25rem;
      line-height: 1.1710000038;
      white-space: nowrap;
      font-weight: 600;
      font-family: Roboto Serif, 'Source Sans Pro';
      display: flex;
      top: 0;
      text-align: center;
      width: 16.6rem;
      height: 11.8rem;
      font-size: 6.4rem;
      color: #37b5bd;
      align-items: baseline;

      .hd-9Rg-sub-0 {
        font-size: 6.4rem;
        font-weight: 600;
        line-height: 1.1725;
        color: #37b5bd;
        font-family: Roboto Serif, 'Source Sans Pro';
      }
      .hd-9Rg-sub-1 {
        line-height: 1.1725;
        color: #37b5bd;
        font-family: Roboto Serif, 'Source Sans Pro';
        font-size: 10rem;
        font-weight: 800;
      }
    }
  }
  .auto-group-dt9k-oee {
    width: 100%;
    height: 12.7rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 2.1rem;

    .group-2-x1k {
      width: 23rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 13.9rem;
      height: 10.7rem;
      position: absolute;
      left: 0.15rem;
      top: 0;

      .auto-group-kywt-VGa {
        width: 100%;
        height: 4.8rem;
        color: rgba(8, 8, 8, 0.5);
        white-space: nowrap;
        border-radius: 13.9rem;
        display: flex;
        margin-bottom: 1.1rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
        align-items: center;
        background-color: #939393;
        font-style: italic;
        justify-content: center;
        flex-shrink: 0;
      }
      .auto-group-uw82-kyC {
        box-sizing: border-box;
        font-weight: 600;
        font-style: italic;
        color: rgba(8, 8, 8, 0.5);
        font-family: Open Sans, 'Source Sans Pro';
        border-radius: 13.9rem;
        flex-shrink: 0;
        padding: 0.6rem 1.4rem 0.9rem 1.4rem;
        width: 100%;
        font-size: 2.4rem;
        line-height: 1.3625;
        white-space: nowrap;
        background-color: #939393;
      }
    }
    .estrofas-y-demas-informacion-Dbt {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.3625;
      font-family: Open Sans, 'Source Sans Pro';
      position: absolute;
      left: 0;
      top: 10.6rem;
      color: #ffffff;
      white-space: nowrap;
      width: 23.7rem;
      height: 2.1rem;
      text-align: center;
    }
  }
  .auto-group-rczr-X6n {
    margin: 0rem 6.65rem 0rem 5.55rem;
    width: calc(100% - 12.2rem);
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .k14jcwar400x400-1-q7U {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.1rem;
      width: 4.1rem;
      height: 4.1rem;
      cursor: pointer;
    }
    .item-13662000-1-9dx {
      height: 4rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 5.3rem;
    }
  }
}
