
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.perfil-QiA {
  background-color: #080808;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  .auto-group-obbc-ASS {
    width: calc(100% - 0.7rem);
    height: 12.7rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 0.7rem 3.4rem 0rem;

    .auto-group-whqs-gfg {
      position: relative;
      background-repeat: no-repeat;
      flex-shrink: 0;
      margin: 0rem 0.039rem 0.05rem 0rem;
      height: calc(100% - 0.05rem);
      background-position: center;
      background-image: url('REPLACE_IMAGE:35:628');
      width: 14.3607rem;
      background-size: cover;

      .titulo-p1C {
        width: 6.7rem;
        height: 2.9rem;
        position: absolute;
        left: 2.6375rem;
        top: 2rem;

        .titulo-9pA {
          width: 6.7rem;
          left: 0;
          text-align: center;
          font-size: 2.4rem;
          color: #ffffff;
          white-space: nowrap;
          height: 2.9rem;
          position: absolute;
          top: 0;
          font-weight: 600;
          line-height: 1.1725;
          font-family: Roboto Serif, 'Source Sans Pro';
        }
        .titulo-5C2 {
          position: absolute;
          top: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.1725;
          white-space: nowrap;
          width: 6.7rem;
          left: 0;
          text-align: center;
          color: #ffffff;
          font-family: Roboto Serif, 'Source Sans Pro';
          height: 2.9rem;
        }
      }
      .hd-PyQ {
        height: 4.7rem;
        font-size: 4rem;
        display: flex;
        align-items: baseline;
        position: absolute;
        text-align: center;
        font-family: Roboto Serif, 'Source Sans Pro';
        font-weight: 600;
        line-height: 1.1710000038;
        white-space: nowrap;
        width: 6.7rem;
        left: 2.6375rem;
        top: 0;
        color: #37b5bd;

        .hd-PyQ-sub-0 {
          font-size: 4rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #37b5bd;
          font-family: Roboto Serif, 'Source Sans Pro';
        }
        .hd-PyQ-sub-1 {
          font-weight: 800;
          line-height: 1.1725;
          color: #37b5bd;
          font-family: Roboto Serif, 'Source Sans Pro';
          font-size: 4rem;
        }
      }
    }
    .titulo-HBc {
      line-height: 1.1725;
      color: #ffffff;
      font-family: Roboto Serif, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 5rem;
      font-weight: 600;
    }
  }
  .auto-group-exbg-29C {
    width: 36.5274rem;
    height: 50.4012rem;
    position: relative;
    flex-shrink: 0;
    margin-right: 0.7726rem;

    .vector-3-kL6 {
      left: 0;
      top: 3.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 36.5274rem;
      height: 46.9012rem;
      position: absolute;
    }
    .hombre-moderno-auriculares-entorno-urbano-8-tBQ {
      position: absolute;
      left: 8.8rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      border-radius: 8.5rem;
      width: 15rem;
      height: 14.8rem;
    }
    .subtitulos-apv {
      white-space: nowrap;
      left: 2.3rem;
      font-size: 3.2rem;
      color: #ffffff;
      font-family: Merriweather, 'Source Sans Pro';
      font-weight: 400;
      line-height: 1.2575;
      font-style: italic;
      width: 23.3rem;
      height: 4.1rem;
      position: absolute;
      top: 19.8rem;
    }
    .subtitulos-tqc {
      position: absolute;
      left: 2.3rem;
      font-weight: 400;
      line-height: 1.2575;
      font-style: italic;
      font-family: Merriweather, 'Source Sans Pro';
      width: 23rem;
      cursor: pointer;
      white-space: nowrap;
      font-size: 3.2rem;
      color: #ffffff;
      height: 4.7rem;
      top: 42.9rem;
    }
    .preferencias-BJv {
      height: 4.1rem;
      top: 25.6rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2575;
      white-space: nowrap;
      width: 20.6rem;
      position: absolute;
      left: 2.6rem;
      font-style: italic;
      color: #ffffff;
      font-family: Merriweather, 'Source Sans Pro';
    }
    .temas-color-Hcr {
      left: 2.6rem;
      font-size: 3.2rem;
      white-space: nowrap;
      font-weight: 400;
      line-height: 1.2575;
      font-style: italic;
      color: #ffffff;
      width: 19.4rem;
      height: 4.1rem;
      position: absolute;
      top: 31.3rem;
      font-family: Merriweather, 'Source Sans Pro';
    }
    .cuentas-drive-Cjp {
      white-space: nowrap;
      height: 4.1rem;
      font-size: 3.2rem;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Merriweather, 'Source Sans Pro';
      font-style: italic;
      width: 21.6rem;
      position: absolute;
      left: 2.3rem;
      top: 37.1rem;
      font-weight: 400;
    }
    .flecha-1-K3k {
      top: 12.2rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.9rem;
      width: 3.5rem;
      height: 3.4rem;
      position: absolute;
      left: 23.6rem;
    }
    .flecha-2-e62 {
      position: absolute;
      left: 29.1rem;
      top: 20.5rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.9rem;
      width: 3.5rem;
      height: 3.4rem;
    }
    .flecha-3-Zyg {
      position: absolute;
      left: 29.1rem;
      top: 26.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.9rem;
      width: 3.5rem;
      height: 3.4rem;
    }
    .flecha-4-h4J {
      vertical-align: top;
      border-radius: 1.9rem;
      width: 3.5rem;
      height: 3.4rem;
      position: absolute;
      left: 29.1rem;
      top: 32rem;
      object-fit: cover;
    }
    .flecha-5-dTk {
      height: 3.4rem;
      position: absolute;
      left: 29.1rem;
      top: 37.8rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.9rem;
      width: 3.5rem;
    }
    .flecha-6-ACn {
      border-radius: 1.9rem;
      width: 3.5rem;
      height: 3.4rem;
      position: absolute;
      left: 29.1rem;
      top: 43.6rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
