
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 8.7rem;
}.titulo-88v {
  align-items: center;
  width: 100%;
  height: 2.4rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  justify-content: center;
  line-height: 1.1725;
  font-family: Roboto Serif, 'Source Sans Pro';
  display: flex;
}
