
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.reproductor-xWA {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #080808;
}
.reproductor-xWA .auto-group-pgtq-Ja2 {
  box-sizing: border-box;
  padding-bottom: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.reproductor-xWA .auto-group-pgtq-Ja2 .auto-group-p5kc-edt {
  margin: 0rem 0.679rem 0.1rem 0rem;
  width: calc(100% - 0.6791rem);
  height: 15.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.reproductor-xWA .auto-group-pgtq-Ja2 .auto-group-p5kc-edt .auto-group-fzbg-kS2 {
  width: 15rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.reproductor-xWA .auto-group-pgtq-Ja2 .auto-group-p5kc-edt .auto-group-fzbg-kS2 .vector-1-uJv {
  width: 14.3607rem;
  height: 11.75rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.reproductor-xWA .auto-group-pgtq-Ja2 .auto-group-p5kc-edt .auto-group-fzbg-kS2 .titulo-3R8 {
  width: 6.7rem;
  height: 2.9rem;
  position: absolute;
  left: 1.8375rem;
  top: 1.8rem;
}
.reproductor-xWA .auto-group-pgtq-Ja2 .auto-group-p5kc-edt .auto-group-fzbg-kS2 .titulo-3R8 .titulo-afx {
  width: 6.7rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.reproductor-xWA .auto-group-pgtq-Ja2 .auto-group-p5kc-edt .auto-group-fzbg-kS2 .titulo-3R8 .titulo-ZgJ {
  width: 6.7rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.reproductor-xWA .auto-group-pgtq-Ja2 .auto-group-p5kc-edt .auto-group-fzbg-kS2 .hd-gW2 {
  width: 6.7rem;
  height: 4.7rem;
  position: absolute;
  left: 1.8375rem;
  top: 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1710000038;
  color: #37b5bd;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.reproductor-xWA .auto-group-pgtq-Ja2 .auto-group-p5kc-edt .auto-group-fzbg-kS2 .hd-gW2 .hd-gW2-sub-0 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #37b5bd;
  font-family: Roboto Serif, 'Source Sans Pro';
}
.reproductor-xWA .auto-group-pgtq-Ja2 .auto-group-p5kc-edt .auto-group-fzbg-kS2 .hd-gW2 .hd-gW2-sub-1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1725;
  color: #37b5bd;
  font-family: Roboto Serif, 'Source Sans Pro';
}
.reproductor-xWA .auto-group-pgtq-Ja2 .auto-group-p5kc-edt .auto-group-fzbg-kS2 .titulo-9Y2 {
  width: 10.9rem;
  height: 3.6rem;
  position: absolute;
  left: 3.1rem;
  top: 10.7rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.reproductor-xWA .auto-group-pgtq-Ja2 .auto-group-p5kc-edt .auto-group-thw4-THp {
  box-sizing: border-box;
  padding: 1.9rem 0rem 1.9rem 14.8rem;
  height: 100%;
  flex-shrink: 0;
}
.reproductor-xWA .auto-group-pgtq-Ja2 .auto-group-p5kc-edt .auto-group-thw4-THp .hombre-moderno-auriculares-entorno-urbano-7-o6n {
  width: 6.5209rem;
  height: 6.4423rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  border-radius: 13rem;
}
.reproductor-xWA .auto-group-pgtq-Ja2 .subtitulos-iUe {
  margin: 0rem 0rem 1rem 3.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  font-style: italic;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reproductor-xWA .auto-group-pgtq-Ja2 .reproductor-1-cpv {
  margin-left: 4.9rem;
  width: 26.2rem;
  height: 25.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.reproductor-xWA .auto-group-axgw-MXc {
  width: 100%;
  height: 19rem;
  position: relative;
  flex-shrink: 0;
}
.reproductor-xWA .auto-group-axgw-MXc .caratulas-1-hbU {
  width: 47.5rem;
  height: 17rem;
  position: absolute;
  left: 0;
  top: 2rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/caratulas-1-bg.png');
}
.reproductor-xWA .auto-group-axgw-MXc .titulo-1s4 {
  width: 26.6rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
}
